@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@import 'variables.scss';
@import 'mixins.scss';

html {
  font-size: 16px;
}

body {
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center left;
}

.wrapper {
  font-family: $poppins;
  max-width: 1200px;
  padding-top: 6em;
  padding: 3em;
  background-color: #fff;
  position: relative;
  margin: 0 auto;

  &::before {
    content: 'x';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 2.5em;
    background-color: #f7f7f7;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
  }
}

.form {
  &-header {
    margin-bottom: 5em;
    @include setFlex(flex, center, space-between, initial);
    .logo {
      @include setFlex(flex, center, space-between, initial);

      &-circle {
        height: 3em;
        width: 3em;
        border-radius: 50%;
        display: block;
        background-color: $blue_bg;
      }

      h1 {
        font-size: 1.75em;
        font-weight: 600;
        margin-left: 0.6em;
        color: $text_one;

        .lean {
          font-weight: 300;
        }
      }
    }

    .timer {
      font-size: 1.35em;
      font-weight: 500;

      &-box {
        background-color: $dark_bg;
        color: #fff;
        height: 1.9em;
        width: 1.3em;
        @include setFlex(inline-flex, center, center, initial);
        border-radius: 4px;
        margin-left: -4px;
      }
      &-divider {
        position: relative;
        right: 2px;
      }
    }
  }

  &-body {
    form {
      .input-group {
        margin-bottom: 2em;
        .header {
          @include setFlex(flex, center, space-between, initial);
          margin-bottom: 1.8em;
          .description {
            .title {
              text-transform: capitalize;
              font-weight: 700;
              color: $text_one;
              font-size: 1.1em;
              margin-bottom: 0.4em;
            }
            .desc {
              color: $text_two;
              font-size: 0.77em;
              font-weight: 500;
            }
          }

          button.edit {
            @include setFlex(flex, center, space-between, initial);
            color: $blue_bg;
            svg {
              height: 0.9em;
              fill: $blue_bg;
            }
            .btn-desc {
              display: block;
              margin-left: 0.6em;
              font-weight: 500;
            }
          }
        }

        .main {
          position: relative;
          margin-top: 1em;

          img {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            &.leading-icon {
              left: 1.2em;
              height: 2em;
            }
            &.trailing-icon {
              right: 1.2em;
              height: 1.5em;
            }
          }

          input {
            border: 2px solid $input-border;
            width: 100%;
            padding: 1em 4em;
            padding-left: 4.5em;
            outline-color: $active-border;
            border-radius: 10px;
            font-size: 1.1em;
            font-weight: 600;
            background: linear-gradient(45deg, #f8faf9, transparent);

            &::placeholder {
              font-weight: 400;
              opacity: 0.5;
            }
          }
        }

        &.__col {
          @include setFlex(flex, center, space-between, initial);

          .header {
            margin-bottom: 0;
          }

          .grp {
            @include setFlex(flex, center, space-between, initial);
            width: 400px;

            .divider {
              display: block;
              margin: 0 0.8em;
              font-size: 1.2em;
              font-weight: 800;
              color: $text_one;
            }
          }
          .main {
            width: 400px;
            margin-top: 0;
            input {
              text-align: center;
              padding-left: 0;
              padding-right: 0;
              background: none;
              color: $active-border;

              &:focus {
                background: #edf3ff;
              }
            }

            input[type='password'] {
              text-align: left;
              padding-left: 1.5em;
              letter-spacing: 0.3em;
            }

            .trailing-icon {
              opacity: 0.5;
            }
          }
        }
      }

      .btn-submit {
        background-color: $blue_bg;
        padding: 1.2em 0;
        width: 100%;
        color: #fff;
        border-radius: 6px;
        text-transform: capitalize;
        font-size: 1.2em;
        font-weight: 500;
        transition: all 250ms ease-in-out;

        &:hover {
          background-color: #0645b2;
        }
      }
    }
  }
}

.order-info {
  position: relative;
  height: 100%;
  padding: 0 2em;

  .card-body {
    width: 230px;
    margin: 0 auto;
    // border: 1px solid $input-border;
    box-shadow: 0px 20px 45px -5px rgba(#000, 0.2);
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(
      180deg,
      rgba(242, 246, 249, 0) 34%,
      #f3f3f3 44%,
      #f2f6f9 75%
    );
    padding: 3em 1.2em;
    position: relative;
    z-index: 2;
    .grp {
      @include setFlex(flex, center, space-between, initial);
      margin-bottom: 4em;
      img {
        &.chip {
          height: 2.5em;
        }
        &.wifi {
          height: 1.5em;
        }
      }
    }

    .name-info {
      .fullname {
        text-transform: capitalize;
        font-size: 1em;
        color: $text_one;
        margin-bottom: 0.5em;
      }
    }

    .card-expiry {
      @include setFlex(flex, center, space-between, initial);
      margin-top: 1em;
      .grp {
        margin-bottom: 0;
        .month,
        .year {
          font-size: 1em;
          font-weight: 500;
          color: $text_one;
        }
        .divider {
          font-weight: 700;
          font-size: 0.9em;
          color: $text_one;
          margin: 0 0.2em;
        }
      }

      svg {
        height: 2em;
      }
    }

    &::before {
      content: '';
      display: block;
      width: 50px;
      height: 5px;
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: $blue_bg;
      box-shadow: 0 10px 20px $blue_bg;
    }
  }

  .purchase-info {
    background: linear-gradient(180deg, #e7eaf0, #eff5f9);
    border-radius: 10px;
    padding: 12em 0 0;
    position: relative;
    z-index: 1;
    margin-top: -12em;

    .product-summary {
      width: 80%;
      margin: 0 auto;
      padding: 2em 0;
      .grp {
        @include setFlex(flex, center, space-between, initial);
        margin-bottom: 1em;
        .key {
          color: $text_two;
          font-size: 1em;
          font-weight: 600;
          text-transform: capitalize;
        }

        .value {
          text-transform: capitalize;
          font-weight: 600;
          color: $text_one;
          font-size: 1em;

          &.with-logo {
            @include setFlex(flex, center, space-between, initial);
            img {
              width: 1.3em;
              margin-right: 0.3em;
            }
          }
        }
      }
    }

    .payment-info {
      width: 80%;
      margin: 0 auto;
      padding: 2em 0;
      @include setFlex(flex, center, space-between, initial);
      border-top: 2px dashed rgba(0, 0, 0, 0.15);
      position: relative;

      .amount {
        .title {
          color: $text_two;
          font-size: 1em;
          font-weight: 600;
          text-transform: capitalize;
        }
        .total {
          text-transform: capitalize;
          font-weight: 700;
          color: $text_one;
          font-size: 2em;

          span {
            font-size: 0.5em;
            font-weight: 500;
          }
        }
      }

      img {
        width: 2em;
      }

      &::before {
        content: '';
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -25px;
        left: -50px;
      }
      &::after {
        content: '';
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -25px;
        right: -50px;
      }
    }
  }
}
