@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@import 'variables.scss';
@import 'mixins.scss';

html {
  font-size: 16px;
}

.wrapper {
  font-family: $poppins;
  max-width: 1200px;
  padding-top: 6em;
  padding: 3em;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
}

.form {
  &-header {
    margin-bottom: 5em;
    @include setFlex(flex, center, space-between, initial);
    .logo {
      @include setFlex(flex, center, space-between, initial);

      &-circle {
        height: 3em;
        width: 3em;
        border-radius: 50%;
        display: block;
        background-color: $blue_bg;
      }

      h1 {
        font-size: 1.75em;
        font-weight: 600;
        margin-left: 0.6em;
        color: $text_one;

        .lean {
          font-weight: 300;
        }
      }
    }

    .timer {
      font-size: 1.35em;
      font-weight: 500;

      &-box {
        background-color: $dark_bg;
        color: #fff;
        height: 1.9em;
        width: 1.3em;
        @include setFlex(inline-flex, center, center, initial);
        border-radius: 4px;
        margin-left: -4px;
      }
      &-divider {
        position: relative;
        right: 2px;
      }
    }
  }

  &-body {
    form {
      .input-group {
        margin-bottom: 2em;
        .header {
          @include setFlex(flex, center, space-between, initial);
          margin-bottom: 1.8em;
          .description {
            .title {
              text-transform: capitalize;
              font-weight: 700;
              color: $text_one;
              font-size: 1.1em;
              margin-bottom: 0.4em;
            }
            .desc {
              color: $text_two;
              font-size: 0.77em;
              font-weight: 500;
            }
          }

          button.edit {
            @include setFlex(flex, center, space-between, initial);
            color: $blue_bg;
            svg {
              height: 0.9em;
              fill: $blue_bg;
            }
            .btn-desc {
              display: block;
              margin-left: 0.6em;
              font-weight: 500;
            }
          }
        }

        .main {
          position: relative;
          margin-top: 1em;

          img {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            &.leading-icon {
              left: 1.2em;
              height: 2em;
            }
            &.trailing-icon {
              right: 1.2em;
              height: 1.5em;
            }
          }

          input {
            border: 2px solid $input-border;
            width: 100%;
            padding: 1em 4em;
            padding-left: 4.5em;
            outline-color: $active-border;
            border-radius: 10px;
            font-size: 1.1em;
            font-weight: 600;
            background: linear-gradient(45deg, #f8faf9, transparent);

            &::placeholder {
              font-weight: 400;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
